# Compiled Object files
obj
*.slo
*.lo
*.o

*.gch

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.lib
*.exe
*.dll

*.idb
*.pdb
*.ilk
*.lastbuildstate

*.sdf
*.opensdf

*.suo
*.obj
*.ncb

log
*.log

*.tlog
*.pch
*.ipch

*.gch
*~

*.pid
*.MMAP

*.aps

*.db3

#
*.tmp

#微软的一些临时文件
~$*.*

#这些目录都忽视
bin
lib
log
Debug
Release