# Compiled Object files
obj
*.obj
*.slo
*.lo
*.o

*.gch

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.lib
*.exe
*.dll

*.idb
*.pdb
*.ilk
*.lastbuildstate

*.sdf
*.opensdf

*.suo
*.obj
*.ncb

log
*.log


*.tlog
*.pch
*.ipch
*.gch
*~


*.pid
*.MMAP

*.aps

#

#微软的一些临时文件
~$*.*
*.tmp

#这些目录都忽视
.vs
bin
lib
log
Win32-Debug
Win32-Release
x64-Debug
x64-Release

#VS的一些文件，
*.user
*.suo
