[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true


# 适用于 Python 代码（Python 代码不能使用 Tab）
[*.py]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

# 适用于 Makefile（Makefile 需要用 Tab ）
[Makefile]
indent_style = tab

# 适用于 C++ 代码
[*.{c++,cc,cpp,cppm,cxx,h,h++,hh,hpp,hxx,inl,ipp,ixx,tlh,tli}]

# Visual C++ Code Style settings

cpp_generate_documentation_comments = doxygen_slash_star_exclamation

# Visual C++ Formatting settings

indent_style = spaces
indent_size = 4
tab_width= 4

format_on_save = true
